llama_index==0.10.16
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
llama-index-vector-stores-faiss
transformers
torch
pysqlite3
llama-cpp-python
spacy
nest-asyncio
langchain
python-dotenv==1.0.0
chromadb
faiss-cpu
